/* general set up */
* {
    box-sizing: border-box;
}

header h2, footer {
    text-align: center;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

header + section {
    margin-bottom: 0;
}

hr {
    width: 500px;
    margin: 0;
}

/* form set up */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-controls__input {
    margin-left: 20px;
}

.submit-btn {
    width: 180px;
    height: 28px;
    border-radius: 5px;
}

.filter-export {
    display: flex;
    align-items: center;
}

.filter-input {
    padding: 10px;
}

.filter-input input {
    border: 1px solid black;
}

#export {
    height: 22px;
    margin-left: 20px;
}

/* show data set up */
#data-container {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;
}



thead tr {
    background-color:lightblue;
}

td, th {
    width: 160px;
    padding: 5px 5px 5px 10px;
}

th {
    text-align: left;
}

table tr:nth-of-type(2n) {
    background-color: lightgray;
}

.rate-down {
    color: red;
}

.rate-up {
    color: green;
}

/* error container set up */
.no-error {
    display: none;
}

.error {
    width: 500px;
    color: red;
    font-style: italic;
    margin-top: 20px;
    text-align: center;
    display: block;
}
